p {
    font-family: Georgia, 'Times New Roman', Times, serif;  /*Change font style with backup options*/
}

h1 {
    font-size: 2.5em;   /*Change font size*/
}

a {
    color: #FFFF00; /*A yellow link color*/
}

body {
    background-color: #512888; /*Purple background color*/
    color: #FFF; /*White text color to see text*/
    font-size: 1em;
}

div {
    white-space: pre-line;  /*Within div, having things on a new line will do the same on the page*/
}